<footer class="info" style="flex-basis: 100%;">
  <div class="info-text">
    <p>
      Sijoittaessahan pelataan todennäköisyyksillä, ei voi olla koskaan täysin varma miten käy.
    </p>
  </div>
</footer>
