<div class="graph">
  <svg id="graph-svg" class="graph-svg" preserveaspectratio="none" width="200" height="60">
    <title id="graph-title">Retire early graph</title>
    <polyline class="plot" vector-effect="non-scaling-stroke"/>
  </svg>
  <!-- TODO: top of graph needs a label of the max value of savings, instead of being a graph on a fixed scale -->
  <div class="yaxis">
    <span class="line y-1">100k</span>
    <span class="line y-2">500k</span>
    <span class="line y-3">900k</span>
  </div>
  <div class="xaxis">
    <span class="x-area start_year"><span></span></span>
    <span class="x-area end_year"><span></span></span>
    <span class="x-area done_year"><span></span></span>
    <span class="x-area over_year"><span></span></span>
  </div>
</div>
