<div class="graph">
  <div class="graph-inner">
    <svg id="graph-svg" class="graph-svg" preserveaspectratio="none">
        <title id="graph-title">Retire early graph</title>
        <g class="lines">
          <polyline class="trajectory"/>
          <polyline class="usage"/>
          <polyline class="savings"/>
          <polyline class="profit"/>
          <polyline class="divider"/>
        </g>
    </svg>
    <span class="label start_label">
      Age&nbsp;<span class="start_year"></span>
    </span>
    <span class="label end_label">
      Age&nbsp;<span class="end_year"></span>
      &nbsp;
      <span class="end_sum"></span> €</span>
    </span>
    <span class="label done_label">
      Age&nbsp;<span class="done_year"></span>
    </span>
  </div>
</div>
