<div class="graph">
  <div class="graph-inner">
    <svg id="graph-svg" class="graph-svg" preserveaspectratio="none">
        <title id="graph-title">Graph</title>
        <g class="lines">
          <polyline class="end_year_line"/>
          <polyline class="top_year_line"/>
          <polyline class="savings"/>
          <polyline class="profit"/>
          <polyline class="usage"/>
          <polyline class="growth"/>
        </g>
    </svg>
    <span class="axis x-axis" hidden>
      Aika
    </span>
    <span class="axis y-axis" hidden>
      Raha
    </span>
    <span class="x label start_year_label">
      <span class="nowrap"><span class="start_year"></span>v</span>
    </span>
    <b class="y label start_sum_label visually-hidden">
      <span class="nowrap"><span class="start_sum"></span> €</span>
    </b>
    <span class="x label end_year_label">
      <span class="nowrap"><span class="end_year"></span>v</span>
    </span>
    <b class="y label saved_sum_label">
      <small class="tiny caps">Rahaa sisään</small>
      <span class="break"></span>
      <span class="nowrap"><span class="saved_sum"></span> €</span>
    </b>
    <span class="x label top_year_label">
      <span class="nowrap"><span class="top_year"></span>v</span>
    </span>
    <b class="y label top_sum_label">
      <small class="tiny caps">Rahaa ulos</small>
      <span class="break"></span>
      <span class="nowrap"><span class="top_sum"></span> €</span>
    </b>
    <span class="x label done_year_label">
      <span class="nowrap"><span class="done_year"></span>v</span>
    </span>
    <b class="y label top_sum_label visually-hidden">
      <small class="tiny caps">Rahat käytetty</small>
    </b>
  </div>
</div>
