<div class="graph">
  <div class="graph-inner">
    <svg id="graph-svg" class="graph-svg" preserveaspectratio="none">
      <title id="graph-title">Retire early graph</title>
      <polyline class="usage"/>
      <polyline class="profit"/>
      <polyline class="trajectory"/>
      <polyline class="savings"/>
    </svg>
    <div class="y-axis" hidden>
      <span class="low_sum"></span>
      <span class="mid_sum"></span>
      <span class="high_sum"></span>
    </div>
    <div class="x-axis">
      <span class="x-area start_area">
        <span class="small">Age <span class="start_year"></span></span>
      </span>
      <span class="x-area end_area">
        <span class="small">Age <span class="end_year"></span></span>
        <span class="break"></span>
        <span class="big"><span class="end_sum"></span> €</span>
      </span>
      <span class="x-area done_area">
        <span class="small">Age <span class="done_year"></span></span>
      </span>
      <span class="x-area over_year">
        <span></span>
      </span>
    </div>
  </div>
</div>
