<div id="rtrl-graph">
  <div id="graph-aspect">
    <svg id="graph-svg" class="graph-svg" preserveaspectratio="none" width="200" height="60">
      <title id="graph-title">Retire early graph</title>
      <polyline class="plot" vector-effect="non-scaling-stroke"/>
    </svg>
    <!-- TODO: Noi neljä eriväristä aluetta vois jakautua alku, loppu ja rahat loppu pisteiden mukaan, samoin x-akeslin numerot vois olla vaan niissä käännöspisteissä. Y-akselin numeroiden pitäs kans mukautua jos numerot menee hitosti yli miljoonan. -->
    <div class="yaxis">
      <span class="y-1">100 000</span>
      <span class="y-2">500 000</span>
      <span class="y-3">900 000</span>
    </div>
    <div class="xaxis">
      <span class="x-1">30</span>
      <span class="x-2">60</span>
      <span class="x-3">90</span>
      <span class="x-4">120</span>
    </div>
  </div>
</div>
<!-- TODO: Add a table that holds the same data as the graph, so the data is fully accessible. -->
