<div class="graph">
  <div class="graph-inner">
    <svg id="graph-svg" class="graph-svg" preserveaspectratio="none">
        <title id="graph-title">Graph</title>
        <g class="lines">
          <polyline class="usage"/>
          <polyline class="growth"/>
          <polyline class="profit"/>
          <polyline class="savings"/>
        </g>
    </svg>
    <span class="axis x-axis">
      Aika
    </span>
    <span class="label start_year_label">
      <span class="start_year"></span>
    </span>
    <span class="label end_year_label">
      <span class="end_year"></span>
    </span>
    <span class="label top_year_label">
      <span class="top_year"></span>
    </span>
    <span class="label done_year_label">
      <span class="done_year"></span>
    </span>
    <span class="axis y-axis">
      Raha
    </span>
    <b class="label saved_sum_label">
      <span class="saved_sum"></span>&nbsp;€
    </b>
    <b class="label top_sum_label">
      <span class="top_sum"></span>&nbsp;€
    </b>
  </div>
</div>
