<meta charset="utf-8">
<title>Retire early?</title>
<meta name="description" content="Savings & investment calculator for your future.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="styles/main.css">

<meta property="og:title" content="Retire early calculator">
<meta property="og:description" content="How much do I need to save? When should I start?">
<meta property="og:image" content="cover.png">
<meta property="og:url" content="https://retireearly.space">
<meta name="twitter:card" content="summary_large_image">
<meta property="og:site_name" content="Retire early calculator">
<meta name="twitter:image:alt" content="Retire early calculator">
<meta name="twitter:site" content="@sakamies">
