<meta charset="utf-8">
<title>Savings & investment calculator</title>
<meta name="description" content="Savings & investment calculator">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="assets/styles/main.css">
<link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/837116a8-4403-4487-a024-d6ff5f0f0ab0.css"/>

<script src="assets/scripts/utils.js"></script>
<script src="assets/scripts/calc.js"></script>
<script src="assets/scripts/graph.js"></script>
<script src="assets/scripts/labels.js"></script>
<script src="assets/scripts/app.js"></script>

<meta property="og:title" content="Savings & investment calculator">
<meta property="og:description" content="How much do & how long should I save?">
<meta property="og:image" content="cover.png">
<meta property="og:url" content="https://retireearly.space">
<meta name="twitter:card" content="summary_large_image">
<meta property="og:site_name" content="Savings & investment calculator">
<meta name="twitter:image:alt" content="Savings & investment calculator">
<meta name="twitter:site" content="@sakamies">
