<!-- TODO: make header a closeable popover like in css vocabulary, set a cookie for open/closed state -->
<header class="info" style="flex-basis: 100%;">
  <h1>Compound interest calculator</h1>
  <div class="info-text">
    <p>korkoakorolle.com / compoundinterest.xyz?</p>
    <p>Miten korkoa korolle efekti toimii ja miltä se näyttää? Voisinko ryhtyä miljonääriksi lottoamatta? Se on oikeastaan aika helppoa, tarvitset vain aikaa.</p>
    <p>
      The values you enter are only saved to the current browser and device you are using, they are not sent or saved elsewhere.
    </p>
    <p>
      The default values are estimated based on Finnish Euros. If the values of the range sliders don't make sense for your local currency, you can put bigger and more precice values in the number input boxes.
    </p>
    <p>
      Created by Ville Vanninen / <a href="https://twitter.com/sakamies">@sakamies</a>.
      <br>
      Please <a href="https://twitter.com/sakamies">tweet</a> or <a href="mailto:ville@pumpula.net">email</a> any suggestion for improvement.
      <br>
      Check out <a href="https://pumpula.net">pumpula.net</a> for more stuff.
    </p>
  </div>
</header>
