<!-- TODO: make header a closeable popover like in css vocabulary, set a cookie for open/closed state -->
<header class="header" hidden>
  <h1>Estimate how your savings or investments could grow</h1>
  <p>The default values are estimated based on Finnish Euros. If the values of the range sliders don't make sense for your local currency, you can put bigger and more precice values in the number input boxes.
  </p>
  <p>
    Created by Ville Vanninen / <a href="https://twitter.com/sakamies">@sakamies</a>.
    <br>
    Please <a href="https://twitter.com/sakamies">tweet</a> or <a href="mailto:ville@pumpula.net">email</a> any suggestion for improvement. 🤗
    <br>
    Check out pumpula.net <a href="https://pumpula.net">pumpula.net</a> for more stuff.
  </p>
</header>
