<header class="info" style="flex-basis: 100%;">
  <h1>Miljoona rahaa</h1>
  <p>Sijoitus ja säästölaskuri, korkoa korolle –ilmiön havainnollistamiseksi.</p>
  <div class="info-text">
    <p>
      Yläasteella kun äiti kysyi mikä minusta tulee isona, vastasin että teknologiamiljonääri! Minusta piti myös tulla automekaanikko, koska fiksu mekaanikkovaarini oli tiedon ja työkalujen kultakaivos pikkupojalle. Teknologia osui lopulta oikeaan, miljonääri ei ihan. Päädyin kuitenkin teknologia-alan mutkien kautta finanssialalle. Finanssialakaan ei ole tehnyt minusta miljonääriä, mutta sain sieltä oivalluksen ja kipinän siihen, miten voi ryhtyä miljonääriksi. Siihen tarvitsee paljon aikaa ja vähän korkoa korolle, rahaa ei niinkään paljoa, jos siis on sitä aikaa.
    </p>
    <p>
      Miten korkoa korolle efekti toimii ja miltä se näyttää? Miten sitä voi käyttää hyväkseen? <b>Raahaile slaidereita</b> tai <b>naputtele numeroja</b> vastaamaan oman elämäsi lukuja, tai kokeile muutamaa esiasetusta, niin graafi kertoo sinulle miten rahaa saattaisi kertyä.
    </p>
    <p>
      Tein tämän laskurin enimmäkseen itselleni, jotta hahmottaisin paremmin eri muuttujien mahdollisia vaikutuksia tulevaan. Sijoittaessahan pelataan todennäköisyyksillä, ei voi olla koskaan täysin varma miten käy. Muista kokeilla numeroita myös reilusti alakanttiin. (Yläkanttiinkin voi toki kokeilla ja mehustella.)
    </p>
    <p>
      Toivottavasti tästä on hyötyä sinullekkin. <a href="https://twitter.com/sakamies">Twiittaa</a> tai <a href="mailto:ville@pumpula.net">sähköposteile</a> korjausehdotuksia ja palautetta. Kiitos! 🤗 Tsekkaa myös <a href="https://pumpula.net">pumpula.net</a>.
    </p>
    <p>
      Syöttämäsi tiedot tallennetaan vain tällä hetkellä käyttämääsi selaimeen, jotta graafi ei mene ruvelle jos vahingossa lataat sivun uudestaan. Tietoja ei lähetetä minnekkään ja voit hävittää ne tyhjentämällä selaimesi tiedot.
    </p>
    <p>
    </p>
  </div>
</header>
