<div class="info width-800 center-x">
  <div class="space-4"></div>
  <h1>Rahastovimpain</h1>
  <div class="space-2"></div>
  <p>
    Tällä vimpaimella voit tarkastella mitä keskimäärin jäisi käteen jos sijoittaisit tasaisesti valitsemasi vuosimäärän ja nostaisit lopulta kaiken itsellesi. Todellisuudessa tuotto riippuu kaikennäkösestä muustakin kuin näistä vipstaakkeleista, niinkun mihin rahasi laitat ja millä riskillä.
  </p>
  <p>
    Sijoittamiseen on kaikennäköstä kikkailua olemassa, veroilla voi kikkailla, sijotuksia voi vivuttaa ja vaikka mitä. Tällä oikeestaan ehkä parhaiten hahmottaa lähinnä kulujen vaikutuksen siihen mitä jää käteen parhaassa tapauksessa.
  </p>
</div>
