<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_head') %>
  </head>
  <body>
    <div class="layout">
      <%- include('partials/_controls') %>
      <%- include('partials/_graph') %>
    </div>

    <script src="scripts/utils.js"></script>
    <script src="scripts/calc.js"></script>
    <script src="scripts/graph.js"></script>
    <script src="scripts/main.js"></script>

    <!--
    TODO:
    - Add share button!
    - Add a description to the graph that tells you how much you'll have at best and for how long will the money last. Should maybe be a polite live aria region? Should have a debounce for applying changes.
    -->

  </body>
</html>
