<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_head') %>
  </head>
  <body>

    <div class="layout">
      <%- include('partials/_info') %>
      <h1>//TODO: nice empty state</h1>
      <%- include('partials/_controls') %>
      <%- include('partials/_graph') %>
    </div>
  </body>
</html>
