<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="utf-8">
    <title>Milloin aloittaa säästäminen?</title>
    <meta name="description" content="Säästö- & sijoituslaskuri tulevaisuuden hahmottamiseen.">
    <meta name="viewport" content="width=device-width">
    <%- include('partials/_some') %>
    <link rel="stylesheet" href="styles/theme.css">
  </head>
  <body id="rtrl">
    <nav>
      <a href="index-fi.html" class="">Suomeksi</a>
      |
      <a href="index.html">English</a>
    </nav>
    <header class="header">
      <h1>Milloin aloittaa säästäminen?</h1>
      <p>
        Paras aika aloittaa on mahdollisimman pian, pienelläkin summalla. Voit käyttää tätä graafia arvioimaan, miten säästösi tai sijoituksesi kasvaisivat arvoilla jotka valitset.
      </p>
    </header>
    <%- include('widget-fi') %>
  </body>
</html>
