<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Retire early?</title>
    <meta name="description" content="Savings & investment calculator for your future.">
    <meta name="viewport" content="width=device-width">
    <%- include('partials/_some') %>
    <link rel="stylesheet" href="styles/theme.css">
  </head>
  <body id="rtrl">
    <nav>
      <a href="index-fi.html" class="">Suomeksi</a>
      |
      <a href="index.html">English</a>
    </nav>
    <header class="header">
      <h1>When should I start saving?</h1>
      <p>
        You should start right now or yesterday, even with a small amount. You can use this graph to estimate how your savings or investments would grow with the values you'll choose.
      </p>
      <p>
        <small>The default values are estimated based on Finnish Euros. If the values of the range sliders don't make sense for your local currency, you can put bigger and more precice values in the number input boxes.</small>
      </p>
    </header>
    <%- include('widget') %>
  </body>
</html>
