*, *::before, *::after {
  font: inherit;
  margin: 0;
  padding: 0;
  max-width: 100%;
  color: currentColor;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html {
  font-family: 'Futura PT Multilingual W01', Futura PT;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: white;
  background-color: $blue;
  text-size-adjust: 100%; //So mobile viewports don't apply strange auto adjustments to element font sizes
}
a {
  text-decoration: underline;
}
a img {
  border: none;
}

