*, *::before, *::after {
  font: inherit;
  margin: 0;
  padding: 0;
  color: currentColor;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html {
  font-family: 'Futura PT Multilingual W01', Futura PT, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: $dark;
  background-color: $bg;
  text-size-adjust: 100%; //So mobile viewports don't apply strange auto adjustments to element font sizes
}
a {
  text-decoration: underline;
}
a img {
  border: none;
}
h1 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: .18em;
  text-transform: uppercase;
  margin: 0 0 1rem 0;
  @media (max-width: 1000px) {
    font-size: 2rem;
  }
}
p {
  margin: 0 0 1.5rem 0;
}

