.graph svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.graph polyline {
  stroke-linecap: round;
  stroke-width: 3;
  stroke: $hilite;
  fill: none;
}
.graph .savings {
  stroke: opacity($hilite, .3);
}
.graph .profit {
  stroke: opacity($hilite, 1);
}
.graph .trajectory {
  stroke: opacity($dark, .5);
  stroke-dasharray: .5 10;
}
.graph .usage {
  stroke: opacity($hilite, 1);
}

.axis {
  font-size: 2rem;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  position: absolute;
  color: opacity($dark, .2);
  mix-blend-mode: multiply;
  @media (max-width: 1000px) {
    font-size: 1rem
  }
}

.y-axis {
  top: .5rem;
  // left: -.25rem;
  right: 100%;
  transform: rotate(90deg) translateX(100%);
  transform-origin: right top;
  @media (max-width: 1000px) {
    top: .5rem;
    right: auto;
    left: 0;
    transform-origin: left top;
    transform: rotate(90deg) translateY(-100%);
  }
}
.x-axis {
  // bottom: -.25rem;
  top: calc(100% + .25rem);
  right: .0rem;
  @media (max-width: 1000px) {
    top: auto;
    bottom: 0;
    right: .25rem;
  }
}

.label {
  white-space: nowrap;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 100%;
  margin-top: .25rem;
  width: 1px;
}
.saved_sum_label,
.top_sum_label {
  top: auto;
  margin-top: 0;
  margin-bottom: .5rem;
  text-shadow:
   -1px -1px 0 $bg,
    1px -1px 0 $bg,
    -1px 1px 0 $bg,
     1px 1px 0 $bg;
}
