.graph svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.graph polyline {
  stroke-linecap: round;
  stroke-width: 5;
  stroke: white;
  fill: none;
}
.graph .savings {
  stroke: white(.2);
}
.graph .profit {
  stroke: white(1);
}
.graph .usage {
  stroke: white(.5);
  stroke-dasharray: 10 20;
}




.y-axis {
  font-size: 12px;
  position: absolute;
  left: .5rem;
  top: 0;
  height: 100%;
  width: 100%;
}
.y-axis .line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: .8em;
  // border-bottom: 1px solid mix(white, transparent, 20);
}
.y-3 {
  position: absolute;
  bottom: 90%;
}
.y-2 {
  position: absolute;
  bottom: 50%;
}
.y-1 {
  position: absolute;
  bottom: 10%;
}


.x-axis {
  font-size: 1rem;
  position: absolute;
  left: 0;
  display: flex;
  align-items: flex-end;
  top: 0;
  height: 100%;
  width: 100%;
}
.x-area {
  line-height: 1;
  white-space: nowrap;
  flex: 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: flex-end;
  padding: 3rem 0 .5rem 0;
}
.x-area .big {
  font-weight: 700;
  font-size: 1.5rem;
}
.start_year {
}
.start_year.near-start {
  justify-content: flex-start;
}
.end_year {
  align-self: flex-start;
  align-content: flex-end;
}
.done_year {
}
.done_year.near-end {
  justify-content: flex-end;
}
.over_year {
  flex: 1 0 auto; //Other areas get explicit width, this one fills what's left
}

