$track-height: 1.5rem;
$thumb-height: 1.5rem;
$thumb-width: 1.5rem;

//TODO: make bigger thumb and use svg triangle as background to get the shape so the track is useable with a finger too.

@mixin range-track {
  -webkit-appearance: none;
  // height: $track-height;
  margin: 0 0 0 0;
  color: transparent;
  background: white(.2);
  border-radius: 999px;
  border: none;
}
@mixin range-track-focus {
  box-shadow: 0 0 0 2px white(.5);
}
@mixin range-thumb {
  -webkit-appearance: none;
  height: $thumb-height;
  width: $thumb-width;
  // margin-top: $track-height + 1px;
  // border-width: 0 $thumb-width/2 $thumb-height $thumb-width/2;
  // border-color: transparent transparent white(.7) transparent;
  border: none;
  background: white(1);
  box-shadow: 0 0 2rem 2px $blue;
  border-radius: 99rem;
}



input[type=range] {
  -webkit-appearance: none;
  display: block;
  height: $track-height;
  margin: 0;
  border: none;
  background: transparent;
  box-shadow: none;
  border-radius: 99rem;
  overflow: hidden;
}
input[type=range]:focus {
  outline: none;
  box-shadow: 0 0 0 2px white(.5);
}


input[type=range]::-webkit-slider-runnable-track {
  @include range-track();
}
input[type=range]::-moz-range-track {
  @include range-track();
}
input[type=range]::-ms-track {
  @include range-track();
}
input[type=range]:focus::-webkit-slider-runnable-track {
  @include range-track-focus();
}
input[type=range]:focus::-moz-range-track {
  @include range-track-focus();
}
input[type=range]:focus::-ms-track {
  @include range-track-focus();
}
input[type=range]::-ms-fill-lower {
  //@include range-track();
  display: none;
}
input[type=range]::-ms-fill-upper {
  //@include range-track();
  display: none;
}


input[type=range]::-webkit-slider-thumb {
  @include range-thumb();
}
input[type=range]::-moz-range-thumb {
  @include range-thumb();
}
input[type=range]::-ms-thumb {
  @include range-thumb();
}

