$track-height: 1.5rem;
$thumb-height: 1.5rem;
$thumb-width: 1.5rem;

@mixin range-track {
  -webkit-appearance: none;
  // height: $track-height;
  margin: 0 0 0 0;
  color: transparent;
  background: opacity($dark, .2);
  border-radius: 999px;
  border: none;
}
@mixin range-track-focus {
  box-shadow: 0 0 0 2px opacity($hilite, 1);
}
@mixin range-thumb {
  -webkit-appearance: none;
  height: $thumb-height;
  width: $thumb-width;
  // margin-top: $track-height + 1px;
  // border-width: 0 $thumb-width/2 $thumb-height $thumb-width/2;
  // border-color: transparent transparent opacity($light, .7) transparent;
  border: none;
  background: opacity($hilite, 1);
  box-shadow: 0 0 2rem 2px $bg;
  border-radius: 99rem;
}



input[type=range] {
  -webkit-appearance: none;
  display: block;
  height: $track-height;
  margin: 0;
  border: none;
  background: transparent;
  box-shadow: none;
  border-radius: 99rem;
  overflow: hidden;
}
input[type=range]:focus {
  outline: none;
  box-shadow: 0 0 0 2px opacity($hilite, 1);
}


input[type=range]::-webkit-slider-runnable-track {
  @include range-track();
}
input[type=range]::-moz-range-track {
  @include range-track();
}
input[type=range]::-ms-track {
  @include range-track();
}
input[type=range]:focus::-webkit-slider-runnable-track {
  @include range-track-focus();
}
input[type=range]:focus::-moz-range-track {
  @include range-track-focus();
}
input[type=range]:focus::-ms-track {
  @include range-track-focus();
}
input[type=range]::-ms-fill-lower {
  //@include range-track();
  display: none;
}
input[type=range]::-ms-fill-upper {
  //@include range-track();
  display: none;
}


input[type=range]::-webkit-slider-thumb {
  @include range-thumb();
}
input[type=range]::-moz-range-thumb {
  @include range-thumb();
}
input[type=range]::-ms-thumb {
  @include range-thumb();
}

