html, body {
  height: 100%;
  min-height: 100%;
}

.layout {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: stretch;
  min-height: 100%;
}

.graph {
  position: sticky;
  position: -webkit-sticky;
  display: flex;
  top: 0;
  max-width: 100%;
  max-height: 100vh;
  min-height: 16rem;
  flex: 4 0 600px;
  // outline: 1px dashed white(.5);
}
.graph-inner {
  align-self: stretch;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.controls {
  max-width: 100%;
}

@media (max-width: 1000px) {
  .layout {
    display: block;
    padding-top: 20vh;
  }
  .graph {
    position: fixed;
    top: 0;
    height: 20vh;
    width: 100%;
    min-height: 0;
    z-index: 999;
    background: $blue;
    box-shadow: 0 0 2rem 1rem $blue;
  }
}
