html, body {
  height: 100%;
  min-height: 100%;
}

.layout {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: stretch;
  min-height: 100%;
}

.info {
  flex-basis: 100%;
  margin: calc(5vh + 2.5%) 5%;
}
.info-text {
  max-width: 35rem;
}


.controls {
  max-width: 100%;
}

@media (max-width: 1000px) {
  .info {
    order: 0;
  }
  .graph {
    order: 1;

  }
  .controls {
    order: 2;
  }
}
