.autowidth {
  transition: width .2s ease;
}

.text-center {
  text-align: center;
}

[hidden],
.hide {
  display: none !important;
  visibility: hidden !important; //http://www.456bereastreet.com/archive/200711/screen_readers_sometimes_ignore_displaynone/
}

.break {
  flex-basis: 100% !important;
}

.big {
  font-size: 2rem;
}
.line {
  border: 1px solid opacity($dark, .5);
}
.space {width: 1rem; height: 1rem;}
