@function black($opacity: 1) {
  @return rgba(0,0,0,$opacity);
}
@function white($opacity: 1) {
  @return rgba(255,255,255,$opacity);
}
@function gray($amount, $opacity: 1) {
  @return rgba($amount, $amount, $amount, $opacity);
}
@function opacity($color, $opacity: 1) {
  @return rgba($color, $opacity);
}

$light: #fefefe;
$medium: #e3e3e3;
$dark: #424242;
$blue: #1a79ca;

//Bike colors
$byellow: #FFBE56;
$bblue: #3783DD;
$blightblue: #00D5FF;
$bdarkblue: #143D59;
$bdarkpurple: #3D0068;
$bpurple: #B000DC;
$blightpurple: #C391EF;

//hngh colors
$hblue: hsla(227, 80%, 40%, 1);
$hdark: #222328;

$color: $dark;
$bg: $light;
$hilite: $blue;
