@function black($opacity: 1) {
  @return rgba(0,0,0,$opacity);
}
@function white($opacity: 1) {
  @return rgba(255,255,255,$opacity);
}
@function gray($amount, $opacity: 1) {
  @return rgba($amount, $amount, $amount, $opacity);
}
@function opacity($color, $opacity: 1) {
  @return rgba($color, $opacity);
}

$light: #fefefe;
$medium: #e3e3e3;
$dark: #424242;
$blue: #1a79ca;

$color: $dark;
$bg: $light;
$hilite: $blue;
