@function black($opacity: 1) {
  @return rgba(0,0,0,$opacity);
}
@function white($opacity: 1) {
  @return rgba(255,255,255,$opacity);
}
@function gray($amount, $opacity: 1) {
  @return rgba($amount, $amount, $amount, $opacity);
}
@function opacity($color, $opacity: 1) {
  @return rgba($color, $opacity);
}

$dark: #333;
$blue: hsl(200, 50%, 50%);
$blue: #009EFB;
$blue: #1a79ca;
