@import "vars";

*, *::before, *::after {
  font: inherit;
  margin: 0;
  padding: 0;
  color: currentColor;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html {
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-family: Futura PT;
  font-size: 1rem;
  line-height: 1.5rem;
  color: white;
  background-color: $blue;
  text-size-adjust: 100%; //So mobile viewports don't apply strange auto adjustments to element font sizes
}
a {
  text-decoration: underline;
}
a img {
  border: none;
}

