.graph {
  font-size: 11px;
}
.graph svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.graph polyline {
  stroke-linecap: round;
}
.graph .savings {
  stroke-width: 3;
  stroke: white(.2);
  fill: none;
}
.graph .profit {
  stroke-width: 3;
  stroke: white(1);
  fill: none;
}
.graph .usage {
  stroke-width: 3;
  stroke: white(.5);
  fill: none;
  stroke-dasharray: 5;
}




.yaxis {
  position: absolute;
  left: 0;
}
.yaxis {
  top: 0;
  height: 100%;
  width: 100%;
}
.yaxis .line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: .8em;
  // border-bottom: 1px solid mix(white, transparent, 20);
}
.y-3 {
  position: absolute;
  bottom: 90%;
}
.y-2 {
  position: absolute;
  bottom: 50%;
}
.y-1 {
  position: absolute;
  bottom: 10%;
}


.xaxis {
  position: absolute;
  left: 0;
  display: flex;
  align-items: stretch;
  top: 0;
  height: 100%;
  width: 100%;
}
.x-area {
  display: flex;
  flex: 0 0 auto;
  align-items: flex-end;
  justify-content: flex-end;
}
.x-area span {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0;
  width: 0px;
  line-height: 2em;
}
.start_year {
  background: mix($blue, transparent, 10);
}
.start_year.near-start span {
  justify-content: flex-start;
}
.end_year {
  background: mix($blue, transparent, 20);
  border-right: 3px solid white(.1);
  margin-left: 1px; //Center the border on the intersection point of savings & usage
}
.done_year {
  background: mix($blue, transparent, 30);
}
.done_year.near-end span {
  justify-content: flex-end;
}
.over_year {
  background: mix($blue, transparent, 40);
}
.over_year { flex: 1 0 auto; }

