#rtrl-widget {
  input[type=number] {
    // -webkit-appearance: none;
    font: inherit;
    text-align: right;
    width: 5em;
    padding: .5rem;
    margin: 0;
    border: 1px solid black(.2);
    color: $dark;
    background: white;
    box-shadow: none;
    border-radius: 3px;
  }
}
