html, body {
  height: 100%;
  min-height: 100%;
}

.layout {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: stretch;
  min-height: 100%;
  // grid-template-columns: minmax(50%, 1fr) minmax(300px, 500px);
}

.graph {
  position: sticky;
  position: -webkit-sticky;
  display: flex;
  top: 0;
  max-width: 100%;
  max-height: 100vh;
  min-height: 16rem;
  flex: 4 0 600px;
  // outline: 1px dashed white(.5);
}
.graph-inner {
  align-self: stretch;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.controls {
  display: flex;
  flex: 1 0 400px;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem 2rem;
}

.control {
  text-align: center;
  margin: 1rem 0;
}
.control > * {
  display: inline-block;
  vertical-align: baseline;
}
.controls [type=number] {
  font-size: 2rem;
  line-height: 2rem;
  height: 2rem;
  letter-spacing: -1px;
}
.control .unit {
  font-size: 2rem;
}
.controls [type=range] {
  display: block;
  width: 100%;
}
@media (max-width: 350px) {
  .control label,
  .control .desc {
    display: block;
    margin: 0 auto;
  }
  .controls [type=range] {
    margin-top: .5rem;
  }
}
