@import "vars";
@import "graph";
@import "input_range";
@import "input";


#rtrl-widget {

  .controls {
    display: flex;
    align-items: center;
    justify-content: justify;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    padding: 1em 2em;
  }
  .controls label {
    width: 11em;
    flex: 0 0 auto;
    margin: 0;
    padding: 0;
  }
  @media (max-width: 600px) {
    .controls label {
      font-size: small;
    }
  }
  .controls [type=range] {
    flex: 0 0 100%;
    margin: 1em 0 2em 0;
  }

}

[lang=fi] #rtrl-widget .controls label {
  width: 13.5em;
}

#rtrl-footer {
  text-align: center;
}
